* {
    box-sizing: border-box;
}

html,
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, "Helvetica Neue", Arial, sans-serif;

    margin: 0;
    padding: 0;
}

a {
    font-weight: 700;

    display: inline-block;

    transition: all 200ms ease;
    text-decoration: none;

    color: black;
    border-bottom: 2px solid black;
}

a:hover {
    border-bottom-color: transparent;
}
